---
import BaseLayout from '../layouts/BaseLayout.astro'
import Cal from '../components/Cal.astro'
import { Image } from 'astro:assets'
import kids011 from '../assets/kids/kids-011-flip.webp'
import kids014 from '../assets/kids/kids-014.webp'
import graph from '../assets/income-graph-2022.png'
import school from '../assets/elm-wood.svg'
import { GoogleSpreadsheet } from 'google-spreadsheet'
import { parse, isFuture } from 'date-fns'

const pageTitle = 'Home'
const today = new Date()
let upcomingEvents = []
try {
    const doc = new GoogleSpreadsheet('1WSoq8gT0m_hUPsxL2EMTvm5CdZ6-f-ogJGt2fcz1VWs', {
    apiKey: import.meta.env.GOOGLE_API_KEY
  })
  await doc.loadInfo()
  const sheet = doc.sheetsByIndex[0]
  const rows = (await sheet.getRows()).map((row) => {
    const date = parse(row.get('Date'), 'd/M/y', today)
    const name = row.get('Event')
    const desc = row.get('Description')
    return { date, name, desc }
  })
  upcomingEvents = rows.filter((row) => isFuture(row.date)).slice(0,3)
} catch {
  // ok ok, show something.
  // upcomingEvents = await getCollection('events')
}

---

<BaseLayout pageTitle={pageTitle}>
  <main class="pb-24">
    <section class="bg-events max-w-3xl mx-auto pt-8 pb-24 px-3 sm:px-12">
      <h1 class="text-white text-3xl font-bold pb-10 flex justify-between">
        Events <span class="text-4xl">🎉</span>
      </h1>
      <div>
        {
          upcomingEvents.map((row) => (
            <div class="pb-8 flex">
              <div class="flex-none">
                <Cal date={row.date} />
              </div>
              <div class="pl-3">
                <h2 class="text-2xl font-bold text-black">{row.name}</h2>
                <p>
                  <!-- <NiceDate class="text-md text-gray-800" date={row.date} /> <br /> -->
                  {row.desc}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <div class="text-center -mt-12">
      <Image src={school} alt="" class="inline-block" width={900} />
    </div>
      
    <nav class="mt-8 text-center grid gap-6 grid-cols-1 md:grid-cols-2 max-w-xl mx-auto">
      <a class="bg-blue-500 py-2 text-2xl text-white font-bold rounded-lg flex items-center justify-center" href="/news">Newsletters</a>
      <a class="bg-green-600 py-2 text-sm text-white font-bold rounded-lg flex items-center justify-center" href="https://www.eventbrite.co.uk/e/yoga-for-parentscarers-and-school-staff-tickets-1373513548999?aff=oddtdtcreator">Book parent/carer<br/>yoga classes here</a>
    </nav>

    <div class="max-w-5xl mx-auto text-right">
      <Image src={kids011} alt="" class="inline-block" width="300" style="max-width:40%" />
    </div>

    <section class="max-w-xl mx-auto py-8 font-medium -mt-20 sm:-mt-44 px-4">
      <h1 class="text-red-700 text-4xl font-bold pb-4">Join in</h1>
      <p class="text-xl sm:text-2xl pb-2 font-bold">Help raise money for Elm Wood.</p>
      <p class="text-lg sm:text-2xl pb-5">Connect with other parents and carers.</p>
      <p class="text-lg sm:text-2xl">
        Email
        <code class="text-lg text-black bg-white/40 py-1 px-2 inline-block rounded-md select-all">
          thefriendsofelmwood@gmail.com</code
        >
      </p>
      <!-- <p class="pb-2">
        The next <strong>friends social</strong> is Monday 4 December.
      </p>
      <p class="pb-10">
        See our <a class="underline hover:text-orange-600" href="/volunteers">volunteers page</a>
         for more.
      </p>
      <p class="italic">
        No time? <a class="underline hover:text-orange-600" href="/donate">Donate here!</a>
      </p> -->
    </section>
    <section class="mx-1">
      <div class="max-w-3xl mx-auto bg-gray-100 border-zinc-400 border mt-14 p-5 sm:p-10">
        <h1 class="text-black/20 text-3xl font-bold pb-12 flex justify-between">
          Impact <span class="text-4xl text-black">🌳</span>
        </h1>
        <p class="text-4xl text-zinc-800 font-bold text-left">
          Together we raised <span class="underline text-black">£8402</span> last year!
        </p>
        <a
          target="_blank"
          class="pt-12 block"
          href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/1031751/financial-history">
          <Image
            src={graph}
            alt="Graph showing money raised and spent by Friends of Elmwood each year"
          />
        </a>
        <p class="pt-6 pb-20">
          Source: <a
            target="_blank"
            class="text-blue-500 underline whitespace-nowrap"
            href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/1031751/financial-history"
            >Charity Commission for England and Wales</a
          >
        </p>
      </div>
    </section>
    <div class="max-w-6xl mx-auto text-left -mt-28 lg:-mt-52">
      <Image src={kids014} alt="" class="inline-block" width="300" style="max-width:40%" />
    </div>
  </main>
</BaseLayout>
